.product {
  @media (min-width: @tablet) {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: @desktop) {
    width: 180px;
  }

  &__title {
    margin-top: 5px;

    @media (min-width: @desktop) {
      margin-top: 7px;
      width: 145px;
    }

    &--text {
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: @special_dark-grey-2;
      width: 90px;
      text-align: start;
      margin-top: -2px;
      margin-left: 2px;

      @media (min-width: @tablet) {
        font-size: 20px;
        line-height: 120%;
        width: 150px;
        text-align: center;
        margin-left: 5px;
      }

      @media (min-width: @desktop) {
        line-height: 105%;
      }
    }
  }

  &__options {
    width: 100%;
    margin-top: 2px;

    @media (min-width: @tablet) {
      margin-top: 12px;
    }

    @media (min-width: @desktop) {
      margin-top: 15px;
    }

    &-cell {
      font-size: 12px;
      line-height: 133%;
      text-align: center;
      color: @special_dark-grey;
      padding: 0;

      @media (min-width: @tablet) {
        font-size: 16px;
        line-height: 100%;
      }

      &--tittle {
        text-align: start;
        font-style: normal;
        font-weight: normal;
      }

      &--value {
        text-align: end;
      }
    }

    td {
      //padding-top: 1px;

      @media (min-width: @tablet) {
        border-bottom: 1px solid @special_grey;
        padding-bottom: 7px;
        padding-top: 7px;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    height: 112px;

    @media (min-width: @tablet) {
      display: block;
      text-align: center;
      height: 391px;
      margin-bottom: 0;
    }

    @media (min-width: @desktop) {
      height: 400px;
    }
  }

  &__illustration {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: @tablet) {
      img {
        width: 168px;
        height: 200px;
        margin-top: -25px;
        margin-bottom: 25px;

        @media (min-width: @desktop) {
          width: 172px;
          height: 198px;
          margin-top: -30px;
          margin-bottom: 35px;
        }
      }
    }
  }

  &__description {
    margin-left: -2px;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;


    @media (min-width: @tablet) {
      width: 250px;
      justify-content: center;
    }

    @media (min-width: @desktop) {
      width: 100%;
      padding-left: 5px;
    }
  }

  &-more {
    margin-top: 5px;

    @media (min-width: @tablet) {
      margin-top: 50px;
      border: 2px solid @basic-grey;
    }

    & svg {
      margin-left: auto;
      margin-right: auto;
      display: flex;

      @media (min-width: @tablet) {
        margin-top: 50px;
        width: 60px;
        height: 60px;

        & line {
          stroke-width: 1px;
        }
      }
    }

    &__description {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 25px;
    }

    &__title {
      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: @basic-black;
      margin-top: 25px;

      @media (min-width: @tablet) {
        font-size: 20px;
        line-height: 110%;
        width: 135px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
      }
    }

    &__text {
      font-size: 12px;
      line-height: 133%;
      text-align: center;
      color: @special_dark-grey;
      margin-top: 9px;

      @media (min-width: @tablet) {
        font-size: 16px;
        line-height: 112%;
        width: 170px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 25px;
      }
    }
  }
}
